<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Db" connectionString="Data Source=.\MSSQLSERVER10;Database=TouchCoupon;UID=sa;pwd=p@55w0rd;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>