@model dynamic
@if (Model.IsRecommended)
{
    <form class="frestore" method="post" action="@Url.Action("UnRecommend", new { Model.Id })">
    <input type="submit" value=" x " class="confirm" />
    </form>
}
else
{
    <form class="fconfirm" method="post" action="@Url.Action("Recommend", new { Model.Id })">
    <input type="submit" value=" v " class="confirm" />
    </form>
}